.footer {
  background-color: black;
  color: rgba(84, 84, 84, 1);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  padding: 67px 0 60px;
  line-height: 21.78px;
}

.footer__copyright {
  position: relative;
  max-width: 880px;
  margin: 0px auto;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
    line-height: 16.94px;
    margin: 0 19px 0;
  }
}
